<div class="container my-5 z-depth-1">
  <section class="dark-grey-text">
    <div class="row pr-lg-5">
      <div class="col-md-7 mb-4">
        <div class="view">
          <picture>
            <source srcset="/media/running-selfie.webp"/>
            <img src="/media/running-selfie.jpg" class="img-thumbnail" loading="lazy"/>
          </picture>
        </div>
      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div>
          <h3 class="font-weight-bold mb-4">Trail Running</h3>
          <p>Monday, Wednesday, Fridays I run for fitness. </p>
          <p>Sundays (and occasional days off from work) I find a big ass hill to run up. Below you can find my run recordings on Strava.</p>
          <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/52150186/latest-rides/8974f8d6677326bd31e5465211b1084bc29ea1e6' loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Content-->
</div>

<hr/>

<div class="container my-5 z-depth-1">
  <section class="dark-grey-text">
    <div class="row pr-lg-5">
      <div class="col-md-7 d-flex align-items-center">
        <div>
          <h3 class="font-weight-bold mb-4">Programming</h3>
          <p>
                    I work as a <a href="https://www.linkedin.com/in/krisgray/">Principal Developer at Salesforce.com</a> in the area of UI Architecture and Tooling.
               <br/>
                    There is not enough time in the world to do all the things I want to make our customers successful, least of all keeping a consistent blog. So here is my twitter feed.
                </p>
          <a class="twitter-timeline" data-width="400" data-height="600" data-theme="dark" href="https://twitter.com/GrayJustise?ref_src=twsrc%5Etfw">Tweets by GrayJustise</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="col-md-5 mb-4">
        <div class="view">
          <picture>
            <source srcset="/media/profile-image.webp"/>
            <img src="/media/profile-image.jpg" height="533" width="400" class="img-thumbnail" loading="lazy"/>
          </picture>
        </div>
        <div class="text-center mt-2" style="width:400px">
          <b>
            <a href="/resume" class="text-center">Résumé</a>
          </b>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Content-->
</div>

<hr/>

<div class="container my-5 z-depth-1">
  <section class="dark-grey-text">
    <div class="row pr-lg-5">
      <div class="col-md-5 d-flex">
        <div>
          <h3 class="font-weight-bold mb-4">Geeking out on Books</h3>
          <p>I love to find that next great book. Suggestions? <a href="https://twitter.com/GrayJustise">Tweet me!</a>
          </p>
          <div id="gr_updates_widget">
            <iframe id="the_iframe" src="https://goodreads.com/widgets/user_update_widget?height=500&num_updates=5&user=6322230&width=390" width="400" height="500" frameborder="0" loading="lazy"></iframe>
          </div>
        </div>
      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div>
          <h3 class="font-weight-bold mb-4">Recommendations</h3>
          <p>I try to recommend stuff that I haven't heard others talking about. Everyone knows about <a href="https://www.goodreads.com/book/show/375802.Ender_s_Game">Enders Game</a> (My first love from middle school, my favorite book, even if the authors crazy), but these are those rare books I somehow came upon that I think everyone should experience.
            </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="https://www.goodreads.com/book/show/40523931-the-light-brigade">The Light Brigade</a> - This book broke me for a while.</li>
            <li class="list-group-item">
              <a href="https://www.goodreads.com/book/show/17333324-ancillary-justice?ac=1&from_search=true&qid=1snSSNUl2n&rank=1">Ancillary Justice (and sequels)</a> - For the first half you have no idea whats going on. Still worth just reading and absorbing the world to experience whats to come.</li>
            <li class="list-group-item">
              <a href="https://www.goodreads.com/book/show/37794149-a-memory-called-empire">A Memory Called Empire</a> - Feel a bit silly trying to convince people that a Hugo Award Winner is worth ready, but this series is fantastic. Run to the book store for it.</li>
            <li class="list-group-item">
              <a href="https://www.goodreads.com/book/show/26114545-too-like-the-lightning">Too Like the Lightning</a> - Unlike anything I've read. An epic story told as if by a poet.</li>
          </ul>
        </div>
      </div>
    </div>

  </section>
  <!--Section: Content-->
</div>