---
bannerbackground: '/assets/images/resume-narrow.webp'
bannerheight: 600px
bannertitle: 'Kris Gray'
bannersubtitle: 'Résumé'
---
{# <style>
    div {
        border: 1px solid pink;
    }
</style> #}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <p>
                Redmond, WA <br/>
                <a href="http://www.justise.com/">http://www.justise.com/</a><br/>
                <a href="mailto:kgray@justise.com">kgray@justise.com</a><br/>
                <a href="https://twitter.com/GrayJustise">@GrayJustise</a><br/>
                <a href="https://github.com/KrisGraySFDC">https://github.com/KrisGraySFDC</a><br/>
            </p>
            <p>
                <h5>My super powers</h5>
                <ul>
                    <li>Can learn anything</li>
                    <li>Shipping amazing and maintainable products</li>
                    <li>Building high performing teams</li>
                </ul>
            </p>
            <p>
                <h5>Skills</h5>
                <h6>Front End</h6>
                <ul>
                    <li>JavaScript, HTML, CSS</li>
                    <li>TypeScript</li>
                    <li>React</li>
                    <li>Salesforce Lightning Framework</li>
                    <li>Mocha, Jest, WebDriver, Sinon</li>
                    <li>VSCode</li>
                    <li>VSCode Extensions Authoring</li>
                    <li>Google Chrome Extensions</li>
                    <li>NodeJS, NPM</li>
                    <li>Web Components</li>
                </ul>

                <h6>Infrastructure</h6>
                <ul>
                    <li>CircleCI</li>
                    <li>Jenkins (and Groovy)</li>
                    <li>Heroku</li>
                    <li>Netlify</li>
                </ul>

                <h6>Back End</h6>
                <ul>
                    <li>Java</li>
                    <li>C# / .NET</li>
                    <li>SQL</li>
                </ul>

                <h6>Intangibles</h6>
                <ul>
                    <li>Strong Scrum / Agile advocate</li>
                    <li>Team Lead</li>
                    <li>Strong Mentorship</li>
                    <li>Open Source</li>
                    <li>Product Social Engagement</li>
                    <li>Presentions at Conferences and Internationally</li>
                </ul>
            </p>
            <p>
                <h5>Conference Presentations</h5>
            </p>
        </div>
        <div class="col-sm">

            <h4>Experience</h4>

            <div class="row">
                <div class="col">
                    <h5>
                        <a href="http://www.salesforce.com/">Salesforce</a>
                    </h5>
                </div>
                <div class="col text-right">
                    <h6>2009 – current</h6>
                </div>
            </div>

            
            Salesforce is the world leader in SaaS CRM solutions. Their products are web based which fits right into my primary skill set. The people here are fantastic, leadership 
            reflects my values and the fast pace has really made my tenure fly by.

            <ul>
                <li>Co-Authored the <a href="https://github.com/forcedotcom/aura">(Aura) Lightning Framework</a> which powers the Salesforce Platform to support millions of users and views each month</li>
                <li>Authored Multiple frameworks at Salesforce which powers the core product used daily by every salesforce user (Classic and Lightning)</li>
                <li>Shipped the <a href="https://developer.salesforce.com/docs/component-library">Lightning Component Library</a> which is built with the Lightning Platform and is now the most popular documentation site at all of Salesforce.com with over a million hits per month</li>
                <li>Developed and <a href="https://github.com/forcedotcom/lightning-inspector">Open Sourced</a> the Google Chrome Extension for the Lightning Framework.</li>
                <li>Attended TC-39 meetings, contributed to browser bugs and gave feedback to design specs for foundational eco-system technologies</li>
                <li>Implemented a Javascript Framework and Component set to align with an early OOCSS framework with the guidance of <a href="http://www.stubbornella.org/content/">Nicole Sullivan</a>.</li>
                <li>Team lead for the Lightning Platform Tooling team where we released key features like the VSCode Extension, Local Development, Component Library and the aforementioned Lightning Inspector.</li>
                <li>(Current) Performed role of Architect for an initiative between 3 teams in 5 different time zones to drastically improve processes in developer documentation and accompanying products.</li>
                <li>Mentored teams onboarding onto Github, <b>TypeScript</b>, CircleCI, and other cloud based platforms improving productivity and enabling easy paths to Open Sourcing</li>
                <li>Strong developer productivity advocate. Maintained the documentation infrastructure for internal JavaScript frameworks leveraging JSDoc and custom JSDoc plugins</li>
                <li>Aligning component set with mulitple aligning <b>CSS Design Systems</b> across the organization.</li>
                <li>Drove quality iniatiatives for the Lightning Framework, increasing customer success and adoption. Primary focus was on removing complexity, giving customers a clear way to accomplish their goals and <b>enhancing code coverage</b>.</li>
            </ul>

            <div class="row">
                <div class="col">
                    <h5>
                        <a href="http://www.method.com/">Method</a>
                    </h5>
                </div>
                <div class="col text-right">
                    <h6>2008 – 2009</h6>
                </div>
            </div>

            <p>
            Method relies on strong strategy and user experience phases to support excellent visual designers in creating an amazing technical experience for the web and mobile devices. The firm has a blue-chip client roster that features brands such as Sony, Microsoft, Visa, Nike, Adobe, and Yahoo!, among others.
            </p>

            <ul>
                <li>Implemented several projects using different JavaScript frameworks including Mootools, jQuery and Dojo.</li>
                <li>Utilized unobtrusive JavaScript to implement Script optional websites.</li>
                <li>Developed flexible site templates using Semantic XHTML markup.</li>
                <li>Ensured pixel perfect layouts in hand coded CSS for Grade A browsers which include Opera, Safari, Chrome, and the aging IE 6.</li>
                <li>Worked with Adobe Photoshop (CS3) to analyze designs and slice images for implementation.</li>
                <li>Enabled back button functionality and deep linking within Adobe Flash with external JavaScript components.</li>
                <li>Constructed sets of templates to be integrated into the client CMS utilizing the PHP based Symphony, WordPress, and the Python based Django.</li>
                <li>Developed a .NET API from a PHP based prototype which automated the creation of SecondLife characters.</li>
                <li>Utilized Open Source applications to enable fundamental developer practices such as TortiseSVN, Trac, OpenVPN, MediaWiki, Apache and Tomcat.</li>
                <li>Practiced Test Driven Development to ensure strong quality all C# projects.</li>
                <li>Pushed for the adoption of crucial process improvements such as daily project stand-ups, comprehensive requirements gathering, schedule based deadlines, and tech inclusion in all project phases.</li>
            </ul>

            <div class="row">
                <div class="col">
                    <h5>
                        <a href="http://www.changepoint.com/">Changepoint (formerly eProject)</a>
                    </h5>
                </div>
                <div class="col text-right">
                    <h6>2005 – 2008</h6>
                </div>
            </div>

            <p>
            Daptiv provides a project management solution based on the Microsoft .NET framework. We utilize ASP.NET, C#, JavaScript, T-SQL and a few others, to produce a web SaaS solution that has enjoyed doubling sales the last several years.
            </p>

            <ul>
                <li>Responsible for conversion of table based layouts to a semantic structure completely stylable by CSS.</li>
                <li>Refactored legacy Javascript into a re-usable, documented and tested libary. Re-used some concepts from some of the more popular and common libraries such as the dynamic loading system and namespaces from DOJO.</li>
                <li>Maintaining the semantic structure of the core Daptiv product and its conformity to the HTML standards.</li>
                <li>Added HTTP Compression to production sites (IIS). JS and CSS compression to daily builds (TFS).</li>
                <li>Utilized jQuery and plugins to quickly add Drag and Drop designer support to a key feature of the upcoming release.</li>
                <li>Worked closely each sprint with Architecture, Product Management, Test, Design, and Developers of all skills.</li>
                <li>Used ASP.NET and advanced JS techniques to create a resource management app capable of maintaining work estimates for thousands of employee’s across hundreds of projects.</li>
                <li>Trained in Scrum and Software Estimation to shed the unpredictability of our waterfall methodology.</li>
                <li>Formed web User Experience team after determining the neglect it was accruing and to help lead the product into the Web 2.0 arena.</li>
                <li>Added JSUnit unit testing to the automated build process, which would run the tests written for our JS framework.</li>
                <li>Pushed for and drove the adoption of Test Driven Development across the Dev team.</li>
                <li>Learned the SalesForce API and developed a certified integration solution for a new Daptiv product.</li>
            </ul>

            <div class="row">
                <div class="col">
                    <h5>
                        <a href="http://www.vmc.com/">VMC</a>
                    </h5>
                </div>
                <div class="col text-right">
                    <h6>2004 – 2005</h6>
                </div>
            </div>

            <p>
            VMC is the global consulting wing of Volt, who are the key contracting company for Microsoft. VMC has an internal website named Innerweb which I worked on that controls all the project management, trouble ticket, and help desk facilities for the company.
            </p>

            <ul>
                <li>Day to day operations consisted mostly of ASP.NET development, and learning to improve myself along with the existing code base.</li>
                <li>Responsible for sustainment and active development of large existing code base utilizing ASP.NET, SQL, and vanilla ASP written in VB and JS.</li>
                <li>Worked individually on implementing new features proposed by executive management and prioritized by my dev manager.</li>
                <li>Performed routine test passes across the product to ensure quality as we lacked a test department.</li>
                <li>Implemented automated builds using Nant and VSS.</li>
                <li>Commonly cleaned up, commented and updated old components on spare time.</li>
                <li>Reviewed project code for bottlenecks and replaced them with more efficient solutions, such as stored procedures and moving client side logic server side.</li>
            </ul>

            <div class="row">
                <div class="col">
                    <h5>
                        <a href="http://www.jetstreamsoftware.com/">JetStream</a>
                    </h5>
                </div>
                <div class="col text-right">
                    <h6>2004</h6>
                </div>
            </div>

            <p>
            A recognized leader in commercializing XML, XSL and Web Services, Jetstream has helped several Fortune 500 companies chart their roadmap concerning these and other next-generation technologies.
            </p>

            <ul>
                <li>Worked with CEO and customer to deliver a wizard based website to generate a personalized report on the users selections.</li>
                <li>ASP.NET based project, interacting with a COBOL processing engine to deliver a PDF generated report.</li>
            </ul>

            <div class="row">
                <div class="col">
                    <h5>
                        Transenda
                    </h5>
                </div>
                <div class="col text-right">
                    <h6>2003</h6>
                </div>
            </div>

            <p>
            Transenda was a small company developing a platform for medical based companies to easily produce process based applications. They also contract themselves out to build the needed applications on this platform.
            </p>

            <ul>
                <li>Utilize custom framework to implement a web solution.</li>
                <li>Construct workflows and processes to be consumed by my ASP.NET application.</li>
            </ul>

            <div class="row">
                <div class="col">
                    <h5>
                        Action Engine
                    </h5>
                </div>
                <div class="col text-right">
                    <h6>2003</h6>
                </div>
            </div>

            <p>
            Action Engine produces a light platform for Mobile devices to do complex processes. I was responsible for adding functionality to their internal portal, which limits the importance of what they do a bit.
            </p>

            <ul>
                <li>Implemented functionality using JScript and Vanilla ASP for company portal.</li>
                <li>Performed daily publication of latest source to company portal (SQL, IIS, COM Packages).</li>
                <li>Worked individually to deliver complex features needed by the company for international operations.</li>
            </ul>

            <div class="row">
                <div class="col">
                    <h5>
                        xLoom
                    </h5>
                </div>
                <div class="col text-right">
                    <h6>2000 - 2003</h6>
                </div>
            </div>

            <p>
            xLoom was a local startup that produced an AJAX based framework to produce windows like applications. Unfortunetly xLoom was before its time and fell victim to the dot com bubble.
            </p>

            <ul>
                <li>Utilized AJAX framework to implement custom applications.</li>
                <li>Developed a program in JavaScript to manage the multiple language localization system utilizing the double byte Unicode standard.</li>
                <li>Designed and Implemented a JavaScript program using WScript to interact with VSS, SQL DMO, and Microsoft Installer packages to create an automated build.</li>
                <li>Designed and produced HTML browser independent web form interfaces.</li>
                <li>Developed and maintained stand alone components in JavaScript such as a Tab Component, Slide Component, Header Component and others.</li>
                <li>Documented in the framework SDK all new objects and changes to old objects.</li>
                <li>Produced a GUI program to edit a proprietary XML format to control the layout and functionality of a Header Bar Component similar to the Microsoft standard header bars.</li>
                <li>Created re-usable XSL-Transformations to display a tree based hierarchical data structure in a stepping navigation scheme.</li>
                <li>Debugged client and server framework code while providing on site support in Japan over the course of 7 months.</li>
                <li>Interacted directly with MSSQL through ASP, ADO and ADO.NET using T-SQL.</li>
            </ul>
        </div>
    </div>
</div>