---
bannerbackground: '/assets/images/header-narrow.webp'
bannerheight: '600px'
bannertitle: 'Kris Gray'
bannersubtitle: 'My little corner of the world'
---
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <link rel="prefetch" href="{{ bannerbackground }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <meta name="author" content="Kris Gray"/>
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <title>Kris Gray - Principal Developer</title>

    <!-- Material Design for Bootstrap -->
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css"
        rel="stylesheet"
/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

      #customize-list {
        float: left;
        margin-left: 20px;
        list-style: none;
      }
      #gr_updates_widget {
        float: left;
        border-radius: 5px;
        background-color: #fff;
        -webkit-box-shadow: 0 0 4px 1px #e0e0e0, inset 0 0 0 1px #e0e0e0;
        -moz-box-shadow: 0 0 4px 1px #e0e0e0, inset 0 0 0 1px #e0e0e0;
        box-shadow: 0 0 4px 1px #e0e0e0, inset 0 0 0 1px #e0e0e0;
        padding: 15px 0 0 15px;
        width: 400px;
        height: 465px;
      }
      .page-footer {
        background: rgba(96, 125, 139, 0.1);
      }
    </style>
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-black"></nav>
      <!-- Navbar -->

      <!-- Background image -->
      <div
        class="p-5 text-center bg-image"
        style="
          background-image: url('{{ bannerbackground }}');
          height: {{bannerheight | default(0)}};
        "
      >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.2);">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <h1 class="mb-3">{{ bannertitle }}</h1>
              <h4 class="mb-3">{{ bannersubtitle }}</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- Background image -->
    </header>
    <main class="mt-5">
      <div class="container">
        {{ body | safe }}
      </div>
      <!-- Footer -->
      <footer class="page-footer font-small">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">Don't worry. Be happy.</div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </main>
  </body>
  {{ lwr_resources | safe }}
</html>